doctype html 
html(lang="en")
    head 
        meta(charset="UTF-8")
        //meta(http-equiv="X-UA-Compatible")
        //meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Joom 
    body 
        header 
            h1 Joom 
        main
            h2 Welcome to Joom 
            script(src="/public/js/app.js")