<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        Joom
    </title>
    <link rel="stylesheet" , href="https://unpkg.com/mvp.css">
</head>

<body>
    <header>
        <h1>Joom</h1>
        <div id="welcome">
            <form>
                <input type="text" placeholder="채팅룸 이름을 입력하세요" required />
                <button>채팅룸 입장</button>
            </form>
        </div>
        <div id="room">
            <h3></h3>
            <ul></ul>
            <form>
                <input type="text" placeholder="메세지를 입력하세요" required />
                <button>보내기</button>
            </form>
        </div>
    </header>
    <main>

    </main>
    <script src="/socket.io/socket.io.js"></script>
    <script src="/public/js/app.js"></script>
</body>

</html>